# Scratch notebook
Nothing here should be permanent

In [2]:
import pandas as pd
FEATURE_DATA_FILE = "../data/featurized_race_data_v2.csv"
df = pd.read_csv(FEATURE_DATA_FILE)

In [6]:

city_counts = df.groupby(['city', 'state']).size()
major_cities = city_counts[city_counts >= 10000].index

# Filter df to only major cities
df_major = df[df.apply(lambda row: (row['city'], row['state']) in major_cities, axis=1)]

print(f"Analyzing {len(major_cities)} major cities (10,000+ runners each)")
print("="*80)

# Convert time to seconds for easier analysis
def time_to_seconds(time_sec):
    return time_sec * 60

# Apply conversion
df_major['time_seconds'] = df_major['time'].apply(time_to_seconds)
display(df_major)

Analyzing 52 major cities (10,000+ runners each)
================================================================================

,age,sex,time,race,date,city,state,full_temp_min,full_temp_max,full_temp_median_min,...,full_overall_days_of_precip,full_overall_weekend_days_of_precip,peak_temp_min,peak_temp_max,peak_temp_median_min,peak_temp_median_max,peak_overall_precip,peak_overall_days_of_precip,peak_overall_weekend_days_of_precip,time_seconds
0,41.0,M,203.450000,"""last_chance_for_boston""_marathon",2003-02-02,ann arbor,mi,-4.3,61.5,21.95,...,32,8,-4.3,42.7,12.00,25.25,13.3,9,3,12207.0
2,26.0,F,220.983333,"""last_chance_for_boston""_marathon",2003-02-02,chicago,il,-3.5,62.4,26.90,...,30,12,-3.5,50.8,13.70,28.55,15.8,9,6,13259.0
3,43.0,M,194.733333,"""last_chance_for_boston""_marathon",2003-02-02,cincinnati,oh,-10.2,69.2,27.10,...,37,11,-10.2,52.6,19.05,30.90,15.9,10,5,11684.0
4,31.0,M,213.250000,"""last_chance_for_boston""_marathon",2003-02-02,cincinnati,oh,-10.2,69.2,27.10,...,37,11,-10.2,52.6,19.05,30.90,15.9,10,5,12795.0
5,29.0,F,221.266667,"""last_chance_for_boston""_marathon",2003-02-02,cincinnati,oh,-10.2,69.2,27.10,...,37,11,-10.2,52.6,19.05,30.90,15.9,10,5,13276.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688262,57.0,M,NaN,zydeco_marathon,2023-03-12,houston,tx,17.1,84.7,50.50,...,47,9,34.5,84.7,60.90,78.45,33.6,18,3,NaN
1688264,49.0,M,NaN,zydeco_marathon,2023-03-12,philadelphia,pa,5.7,66.4,31.65,...,37,7,23.5,66.4,33.30,52.00,104.4,16,4,NaN
1688265,64.0,M,NaN,zydeco_marathon,2023-03-12,phoenix,az,32.0,76.8,42.55,...,22,4,33.3,76.8,43.70,64.35,56.0,8,2,NaN
1688266,64.0,M,NaN,zydeco_marathon,2023-03-12,phoenix,az,32.0,76.8,42.55,...,22,4,33.3,76.8,43.70,64.35,56.0,8,2,NaN
1688269,59.0,F,NaN,zydeco_marathon,2023-03-12,tulsa,ok,2.1,74.2,34.30,...,31,5,22.8,74.2,41.25,61.35,94.5,14,3,NaN

In [11]:
df[~df["sex"].isin(['M','F'])]

,age,sex,time,race,date,city,state,full_temp_min,full_temp_max,full_temp_median_min,...,full_overall_precip,full_overall_days_of_precip,full_overall_weekend_days_of_precip,peak_temp_min,peak_temp_max,peak_temp_median_min,peak_temp_median_max,peak_overall_precip,peak_overall_days_of_precip,peak_overall_weekend_days_of_precip
3705,NaN,chuck,312.233333,a2a_arbuckles_to_ardmore_race_for_mercy,2013-03-03,anchorage,ak,-15.1,39.2,23.50,...,613.8,69,19,8.7,35.3,24.15,29.25,181.7,29,9
9362,NaN,chuck,294.866667,akron_marathon,2013-09-28,anchorage,ak,31.6,74.8,50.55,...,629.7,71,18,31.6,60.4,46.70,52.90,326.6,26,6
10055,NaN,robert,366.083333,albany_marathon_(formerly_the_snickers_maratho...,2015-03-07,atlanta,ga,14.2,72.6,33.90,...,302.8,35,10,16.4,72.6,29.35,48.95,101.9,14,2
12905,NaN,X,226.900000,anchorage_runfest_humpy's_marathon_(prev._big_...,2023-08-20,anchorage,ak,35.1,75.1,49.00,...,389.5,72,19,45.9,75.1,56.75,66.95,87.8,20,7
14412,33.0,X,234.600000,apple_tree_marathon,2023-09-17,portland,or,45.1,106.2,58.15,...,38.9,14,4,51.2,92.5,57.35,79.40,25.7,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681904,32.0,f,301.750000,wineglass_marathon,2014-10-05,chicago,il,39.6,87.3,61.55,...,301.2,41,13,39.6,85.8,54.00,70.15,135.1,12,5
1681911,45.0,m,214.166667,wineglass_marathon,2014-10-05,colorado springs,co,33.1,93.0,52.00,...,153.1,52,11,33.1,84.0,46.90,74.10,21.6,12,2
1682046,29.0,f,224.516667,wineglass_marathon,2014-10-05,san diego,ca,59.8,94.1,65.25,...,24.8,7,4,60.3,94.1,65.90,85.00,4.3,2,1
1683662,NaN,CHUCK,342.650000,wisconsin_marathon,2014-05-03,anchorage,ak,2.6,56.4,23.45,...,218.6,34,10,14.3,56.4,32.30,39.45,28.9,11,6
1683663,NaN,CHUCK,342.650000,wisconsin_marathon,2014-05-03,anchorage,ak,2.6,56.4,23.45,...,218.6,34,10,14.3,56.4,32.30,39.45,28.9,11,6