# Scratch notebook for one off analysis
Nothing in here should be considered permanent

In [12]:
import pandas as pd
import numpy as np
from datetime import datetime

In [9]:
WEATHER_V1_DATA = "../data/weather_data.csv"
WEATHER_V2_DATA = "../data/weather_data_v2.csv"

CITY_STATE_RUNNER_COUNTS = "../data/city_state_runner_counts.csv"

weather_v1_df = pd.read_csv(WEATHER_V1_DATA)[["city","state"]]
weather_v2_df = pd.read_csv(WEATHER_V2_DATA)[["city","state"]]

weather_v1_cities = set(zip(weather_v1_df["city"], weather_v1_df["state"]))
weather_v2_cities = set(zip(weather_v2_df["city"], weather_v2_df["state"]))
del weather_v1_df, weather_v2_df

In [21]:
def clean_str(val:str) -> str:
    return val.lower().replace("\"","").strip()

city_state_counts = pd.read_csv(CITY_STATE_RUNNER_COUNTS)
city_state_counts["city"] = city_state_counts["city"].apply(clean_str)
city_state_counts["state"] = city_state_counts["state"].apply(clean_str)

display(city_state_counts)
norm_df = pd.DataFrame(city_state_counts.groupby(["city","state"])["runner_count"].sum().reset_index().sort_values(by="runner_count", ascending=False))
norm_df.to_csv("../data/city_state_runner_counts_v2.csv")

                 city     state  runner_count
0             chicago        il        111088
1            new york        ny         83500
2         los angeles        ca         61736
3         los angeles        ca         57986
4            honolulu        hi         50596
...               ...       ...           ...
218657  kumiyama-chou  kuge-gun             1
218658        kumuela        hi             1
218659            kun        id             1
218660         kun po     korea             1
218661        üsküdar  ?stanbul             1

[218662 rows x 3 columns]

In [25]:
weather_v1_runners = norm_df[
    norm_df.apply(
        lambda row: (row['city'], row['state']) in weather_v1_cities, 
        axis=1
    )
]["runner_count"].sum()

print(f"Weather V1: {weather_v1_runners:,}")

weather_v2_runners = norm_df[
    norm_df.apply(
        lambda row: (row['city'], row['state']) in weather_v2_cities, 
        axis=1
    )
]["runner_count"].sum()

print(f"Weather V2: {weather_v2_runners:,}")

Weather V1: 1,141,345
Weather V2: 1,690,006