# Scratch Notebook
Not for preservation

In [3]:
import pandas as pd

RACE_FINAL_LOC = "../data/race_final/global/data.csv"
ADDITIONAL_RECORDS = "../data/marathon_results.csv"

df1 = pd.read_csv(RACE_FINAL_LOC)
df2 = pd.read_csv(ADDITIONAL_RECORDS)

display(df1.head(2))
display(df2.head(2))

/var/folders/g1/1dxws3zs1djd1ytsd2h9g9wh0000gn/T/ipykernel_7500/44350022.py:7: DtypeWarning: Columns (0: hometown_city, 1: hometown_state) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(ADDITIONAL_RECORDS)

    age sex        time               race      date             city state
0  50.0   M  181.650000  dog_lake_marathon  10_15_16  apache junction    az
1  39.0   M  188.566667  dog_lake_marathon  10_15_16        kennewick    wa

,name,age,sex,hometown_city,hometown_state,time,race_name,race_date
0,jacob frey,26.0,m,conshohocken,pa,02:20:38,austin marathon,2008-02-17
1,mikhail sayenko,24.0,m,NaN,NaN,02:20:42,austin marathon,2008-02-17