In [1]:
import pandas as pd
from datetime import datetime
import os

# Date Column
Investigate what is happening to the date column, causing so many records to get filtered prior to 2015

In [9]:
from collections import Counter

RACE_RECORDS_DIR = "data/race_records"

date_concordance = Counter()

for race_file in os.listdir(RACE_RECORDS_DIR):
    filepath = os.path.join(RACE_RECORDS_DIR, race_file)
    df = pd.read_parquet(filepath)
    
    # Add all date values to the concordance
    date_concordance.update(df["date"].dropna())

# Convert to DataFrame
concordance_df = pd.DataFrame([
    {"date": date, "count": count}
    for date, count in date_concordance.most_common()
])

def parse_date_column(col:str) -> datetime:
    (month, day, year) = col.split("_")
    return datetime(int("20"+year), int(month), int(day))

concordance_df["actual_date"] = concordance_df['date'].apply(parse_date_column)
concordance_df["year"] = concordance_df["actual_date"].apply(lambda x:x.year)
concordance_df["month"] = concordance_df["actual_date"].apply(lambda x:x.month)
concordance_df["day"] = concordance_df["actual_date"].apply(lambda x:x.day)

print(f"Total unique dates: {len(concordance_df)}")
print(f"Total date records: {concordance_df['count'].sum():,}")
print("\n")
display(concordance_df)

Total unique dates: 2958
Total date records: 10,478,198

          date  count actual_date  year  month  day
0      10_7_12  64656  2012-10-07  2012     10    7
1      10_9_16  63317  2016-10-09  2016     10    9
2      10_9_11  62007  2011-10-09  2011     10    9
3      10_7_18  61894  2018-10-07  2018     10    7
4     10_13_19  60650  2019-10-13  2019     10   13
...        ...    ...         ...   ...    ...  ...
2953    4_4_20      8  2020-04-04  2020      4    4
2954   1_22_06      8  2006-01-22  2006      1   22
2955   3_15_10      6  2010-03-15  2010      3   15
2956    5_8_14      4  2014-05-08  2014      5    8
2957    5_9_14      4  2014-05-09  2014      5    9

[2958 rows x 6 columns]

In [12]:
concordance_df.groupby("day").count()

     date  count  actual_date  year  month
day
1     107    107          107   107    107
2      93     93           93    93     93
3      94     94           94    94     94
4     106    106          106   106    106
5      96     96           96    96     96
6      94     94           94    94     94
7      92     92           92    92     92
8      98     98           98    98     98
9      95     95           95    95     95
10    100    100          100   100    100
11    108    108          108   108    108
12     96     96           96    96     96
13     98     98           98    98     98
14     98     98           98    98     98
15     99     99           99    99     99
16     96     96           96    96     96
17     92     92           92    92     92
18     99     99           99    99     99
19    103    103          103   103    103
20     96     96           96    96     96
21     90     90           90    90     90
22     88     88           88    88     88
23     87     87           87    87     87
24    102    102          102   102    102
25     97     97           97    97     97
26    102    102          102   102    102
27     97     97           97    97     97
28    101    101          101   101    101
29     88     88           88    88     88
30     89     89           89    89     89
31     57     57           57    57     57